.empty-cart-text {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.products-in-cart-tittle {
  background-color: $color_header;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tittle-name {
  font-size: 1.5rem;
}

.product {
  border-bottom: 2px solid $color_border;
  &:last-child {
    border-bottom: 0;
  }
}

.products {
  border: 2px solid $color_border;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.summary {
  border: 2px solid $color_border;
}

.summary-info {
  list-style: none;
}

.summary__tittle {
  text-align: center;
}

.promo__promo-code {
  color: $color_char_value;
}

.limit__number {
  width: 2.5rem;
  text-align: center;
}

.search {
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}
