.price_item-page {
  font-size: 1.5em;
}

.characteristics_item-page {
  font-size: 1.2rem;
}

.side-images {
  border: 1px solid $color_border;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.info-main {
  border: 1px solid $color_border;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.item-info__name {
  font-size: 1.4rem;
}

.item-path {
  font-size: 1.2rem;
}

.item-path__text:not(:last-child):hover {
  cursor: pointer;
  color: $color_border;
}
