.price {
  display: flex;
  column-gap: 0.5rem;
}

.price__original-price {
  text-decoration: line-through;
  color: $color_original-price;
}

.discount {
  position: absolute;
  top: 225px;
  left: 170px;
  background-color: crimson;
  color: $color_background;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}