.cartSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
  column-gap: 1rem;
}

.products-in-cart {
  width: 100%;
}

.products-in-cart-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.tittle-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.pages {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  column-gap: 1rem;
  box-sizing: border-box;
}

.product-info {
  flex-grow: 1;
  display: flex;
  column-gap: 1rem;
  cursor: pointer;
}

.product__img {
  min-width: 100px;
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-number-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.stock-changing {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.summary {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 4rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30%;

  .by-now-button {
    display: flex;
    justify-content: center;
  }
}

.summary-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.promo {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.promo-applied-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  margin: 0.2rem 0;
}
